<app-header></app-header>

<main>
  <div class="menu">
    <h2>Menu</h2>
  </div>

  <div class="fila">
    <div class="columna">
        <img src="../assets/img/Pizzaarte.jfif">
        <h3> Pizza</h3>
        <div class="dropdown">
          <button>Complementos</button>
          <div class="dropdown-content">
            <li>Jamon</li>
            <li>Queso</li>
          </div>
        </div>
    </div>
    <div class="columna">
        <img src="../assets/img/fresco.jfif">
        <h3>Refresco</h3>
        <div class="dropdown">
          <button>Complementos</button>
          <div class="dropdown-content">
            <li>Azucar</li>
            <li>Agua carbonatada</li>

          </div>
        </div>
    </div>
    
  </div>  
    <div class="fila">
    <div class="columna">
    <img src="../assets/img/dona.jfif">
    <h3>Dona</h3>
    <div class="dropdown">
      <button>Complementos</button>
      <div class="dropdown-content">
        <li>Harina</li>
        <li>Azucar</li>
      </div>
    </div>
  </div>
  <div class="columna">
  <img src="../assets/img/chesse.jfif">
  <h3>chessecake</h3>
  <div class="dropdown">
    <button>Complementos</button>
    <div class="dropdown-content">
      <li>Queso</li>
      <li>Harina</li>
    </div>
  </div>
  </div>
  </div>

  <div class ="fila">
    <div class="columna">
    <img src="../assets/img/tiramisu.jfif">
    <h3>Tiramisu</h3>
    <div class="dropdown">
      <button>Complementos</button>
      <div class="dropdown-content">
          <li>Harina</li>
  

      </div>
    </div>

</div>
<div class="columna">
    <img src="../assets/img/tartajaponesa.jfif">
    <h3>Tarta japonesa</h3>
    <div class="dropdown">
      <button>Complementos</button>
      <div class="dropdown-content">
        <li>Huevos</li>
        <li>Azucar glass</li>
      </div>
    </div>
</div>
  </div>
  <div class ="fila">
    <div class="columna">
    <img src="../assets/img/croquetasdepapa.jfif">
    <h3>Platillo 7</h3>
    <div class="dropdown">
      <button>Complementos</button>
      <div class="dropdown-content">
        <li>Papa</li>
        <li>Queso</li>
      </div>
    </div>

</div>
<div class="columna">
    <img src="../assets/img/atun.jfif">
    <h3>Platillo 8</h3>
    <div class="dropdown">
      <button>Complementos</button>
      <div class="dropdown-content">
        <li>Atun</li>
        <li>Pasta</li>
      </div>
    </div>
</div>
   
  
<app-footer></app-footer>
